#warning {
  display: none;
}

body {
  font-family: "Lato", sans-serif;
}

.player {
  padding: 0;
  margin-bottom: 0;
  margin-top: 4rem;
  font-size: 2.5rem;
}

#global1,
#global2 {
  font-size: 3.5rem;
}

#dice {
  height: 7rem;
}

.button:hover {
  border: 1px solid black;
}

.button:active {
  border: 2px solid orangered;
}

.current {
  font-size: 0.7rem;
  padding: 0.5rem;
}

#round1,
#round2 {
  font-size: 1rem;
}

.active {
  background-color: rgba(173, 216, 230, 0.75);
}

.active .player {
  font-weight: 900;
}

.active .player::after {
  content: "\2022";
  font-size: 2.5rem;
  color: red;
}

.winner::before {
  content: "\265B";
  font-size: 3rem;
  background-color: black;
  color: rgba(255, 217, 0, 0.781);
  border: 1px solid black;
  border-radius: 50%;
}

/* portrait or landscape display */
@media only screen and (orientation: portrait) {
  #deviceReadyToPlay {
    display: none;
  }
  #warning {
    display: block;
  }
}

@media only screen and (orientation: landscape) {
  #warning {
    display: none;
  }
}
