#warning {
  display: none;
}

body {
  font-family: "Lato", sans-serif;
}

@media only screen and (orientation: portrait) {
  #deviceReadyToPlay {
    display: none;
  }
  #warning {
    display: block;
  }
}

@media only screen and (orientation: landscape) {
  #warning {
    display: none;
  }
}
